body {
    font-family: Raleway, sans-serif; 
    margin: 0;
}

main {                                                                
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

article {
    margin-bottom: 7rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    background-color: #F2F2F2;  
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
}

a {
    text-decoration: none;
    color: black;
}

h1 { 
    margin-bottom: -0.5rem;
}

h1,
h2 {
    font-size: 1.3rem;
}

label {       
    margin-right: 3rem;
    margin-left: 1.5rem;                                        
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-radius: 20px;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    font-weight: bold;
}

form {
    margin-left: 2.5rem;
    margin-top: 2rem;
}

main h2 {                      
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1.8rem;
}

form i {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 19px 17px 19px;
    background-color: #F2F2F2;
}

article h2 {
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
    padding-left: 2.5rem;
}

article figcaption {                    
    width: 300px;
    box-sizing: border-box;             /* décale le texte et le bloque dans le cadre */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -0.2rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    box-shadow: 0px 0px 8px #d3d3d3;
    font-weight: bold;
}

article img {
    max-width: 300px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section ul {          
    list-style: none;
    line-height: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav img {
    width: 90px;
}

nav figure {
    margin-left: 2.5rem;
}

nav li {
    margin-left: 3rem;
    padding-top: 15px;
}

nav a {
    color: #0065FC;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header li {
    margin-bottom: 1rem;
}

label i {
    margin-right: 1rem;
}

label:hover {
    background-color: #F2F2F2;
}

label i,
p i,
.stars-full {
    color: #0065FC;
}

footer section {
    margin-left: 2.5rem;
}

footer figure {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

section li {
    margin-left: -2.2rem;
}

h1,
header section p {
    margin-left: 2.5rem;
}

.info {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.search {
    width: 235px;
    height: 48px;
    border: 0;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    margin-left: -4px;
    margin-right: -4px;
}

.search-blue {
    height: 48px;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
}

.cadre-heb {
    border-radius: 20px;                         
    padding: 0.3rem;
    line-height: 0.5rem;
    font-size: 0.9rem;  
    background-color: white;   
}

.images-heb {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 0.8rem;
}

.cadre-pop {
    display: flex;
    border-radius: 20px;
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: white;
}

.filtre {
    display: flex;
    align-items: baseline;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.images-pop {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0.8rem;
}

.images-act {
    display: grid;
    grid-template-columns: 350px 350px 350px 300px;
    grid-template-rows: 200px 200px;
    margin: 0;
}

.images-pop img {
    width: 130px;
    height: 135px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.images-heb img {                                   
    width: 235px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cadre-pop figcaption {
    width: 220px;
    padding-left: 0.8rem;
    line-height: 1rem;
}

.filtres-style {
    border-radius: 20px;
    padding: 0.8rem;                                
    background-color: #DEEBFF;
}

.populaire {
    width: 420px;
    height: 625px;
    margin-left: 2.5rem;
}

.hebergement {
    width: 880px;
    margin-left: 2.5rem;
}

.afficher-plus {
    margin-left: 2.5rem;
    font-weight: bold;
}

.populaire,
.hebergement {
    border-radius: 20px;
    background-color: #F2F2F2;                                  
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 80px;
}

.box6 {
    grid-column: 4;
    grid-row: 2 / 3;
    margin-top: 38px;
}

.box1 {
    grid-column: 1;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box4 {
    grid-column: 3;
    grid-row: 1 / 2;
}

.box5 {
    grid-column: 4;
    grid-row: 1 / 2;
}

.search,
.search-blue {
    padding: 0.8rem;
}

.search-icon {
    display: none;
}

.stars-void {
    color: #F2F2F2;
}

.nav2 {
    color: black;
}

.nav3 {
    font-weight: bold;
}

.i-pop {
    margin-left: 6.5rem;
}

.hebergement figure {
    margin-right: -0.5rem;
}

.box1 img {
    height: 390px;
}

.box2 img {
    height: 180px;
}

.box3 img {
    height: 110px;
}

.box4 img {
    height: 390px;
}

.box5 img {
    height: 140px;
}

.box6 img {
    height: 152px;
}

.border-bottom-left {
    border-top: #0065FC solid 2px;
}

@media (max-width : 1199px) {
    header {
        margin-left: 1rem;
    }

    main {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -2.5rem;
        margin-top: 1.5rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    label {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    main h2 {
        margin-left: 0;
    }

    article h2 {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 2.5rem;
        padding: 0;
    }

    article img {
        width: 325px;
        max-height: 135px;
    }
    
    header h2 {
        margin-right: 2rem;
    }

    article figcaption {
        width: 300px
    }

    footer section {
        white-space: nowrap;  /* autre méthode ?? */
        margin: 0;
    }

    .populaire {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-right: -2.5rem;
        border-radius: 0;
    }

    .cadre-heb {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        box-shadow: 0px 0px 15px #d3d3d3;
    }

    .images-act {                       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0.1rem;
        margin-top: 1rem;
    }
    
    .images-pop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hebergement{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;  
        width: auto;
    }

    .images-heb {
        display: flex;
        justify-content: center;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        margin-top: -2.5px;
        margin-bottom: -2.5px;
    }
    
    .filtre {
        display: flex;
        flex-wrap: wrap;
    }

    .hebergement figure {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .cadre-pop {
        margin-right: 1rem;
    }

    .cadre-pop figcaption {
        margin-right: 4rem;
    }

    .box3 img {
        height: 135px;
    }
    
    .afficher-plus {
        margin: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 767px) {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    footer {
        width: 100%;
    }

    nav ul {
        width: 100%;
        padding: 0;
    }

    nav li {
        margin: 0;
    }

    nav figure {
        margin-left: 5rem;
        margin-right: 25rem;
        margin-top: 5px;
    }

    nav img {
        margin-top: 1rem;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
    }

    button i {
        padding: 0;
        font-size: 1rem;
        color: white;
        background-color: #0065FC;
    }

    main h2 {
        margin-left: -0.1rem;
    }

    article h2 {
        margin-left: -8rem;
    }

    article img {
        max-width: 325px;
    }

    article figcaption {
        width: 325px
    }

    footer section {
        margin-left: 2.5rem;
    }

    footer figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    
    footer li {
        line-height: 2rem;
    }
    
    .search-icon {
        display: inline-block;
        width: 50px;
        height: 48px;
        margin-left: -1rem;
        border: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-bottom: 2px;
        background-color: #0065FC;
    }

    .populaire {
        height: 590px;
    }

    .hebergement{
        width: 100%;
        margin-right: -2.5rem; 
    }

    .cadre-pop {
        width: 325px;
        margin-right: 2.5rem;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .position-topright {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    
    .border-bottom-left {
        width: 50%;
        border-bottom: solid #0065FC;
        border-top: none;   /* on enlève la border top pour mettre la bottom quand on passe du desktop/tablette au tel */
        padding-bottom: 15px;
        text-align: center;
    }

    .border-bottom-right {
        width: 50%;
        border-bottom: #F2F2F2 solid;
        padding-bottom: 15px;
        text-align: center;
    }

    .info-p {
        margin-left: 5rem;
        padding-left: 0;
        line-height: 0;
    }

    .info {
        margin-left: -2.5rem;
        margin-right: 0.7rem;
    }

    .cadre-pop figcaption {
        margin: 0;
    }

    .afficher-plus {
        margin-left: -14rem;
    }

    .images-pop {
        margin-top: -1rem;
    }
    
    .search-blue {              /* On remplace le boutton rechercher par le bouton avec l'icone */
        display: none;
    }   

    .hebergement img {
        width: 325px;
    }

    #ancre-hebergement {
        margin-left: -4rem;
    }
}